[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.0.0"
djangorestframework = "*"
django-cors-headers = "*"
psycopg2--binary = "*"
django-allauth = "*"
django-rest-auth = "*"
scrapy = "*"
scrapyd = "*"
scrapy-splash = "*"
celery = "*"
scrapyd-client = "*"
python-scrapyd-api = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.uwsgi]
version = "*"
sys_platform = "!= 'win32'"
