[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.0.0"
djangorestframework = "*"
django-cors-headers = "*"
psycopg2--binary = "*"
uwsgi = "*"
django-allauth = "*"

[dev-packages]

[requires]
python_version = "3.8"
